<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pay Gavin Pereira</title>
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body class="flex flex-col items-center min-h-screen">
        <section class="container grid max-w-5xl gap-8 px-5 py-10 mx-auto lg:grid-cols-2 lg:py-20">
            <div>
                <div class="flex flex-col items-center gap-4 p-8 border rounded-lg shadow-lg border-opacity-10">
                    <h2 class="flex justify-center gap-4 text-2xl font-bold text-center">
                        <span>Pay via</span>
                        <img src="/img/upi.svg" alt="UPI" style="height:1.5rem; position: relative; top: 5px">
                    </h2>
                    <img src="/img/qr.svg" alt="Scan QR Code" style="height: 12rem" class="qr">
                    <span data-decode="cGV4QHVwaQ==" data-copy></span>
                </div>
            </div>
            <div class="grid gap-8">
                <div class="flex flex-col items-center gap-4 p-8 border rounded-lg shadow-lg border-opacity-10">
                    <h2 class="flex justify-center gap-4 text-2xl font-bold text-center">
                        <span>Pay via</span>
                        <img src="/img/paypal.svg" alt="PayPal" style="height: 1.5rem">
                    </h2>
                    <span data-decode="cGV4ZWl4dkBnbWFpbC5jb20=" data-copy></span>
                </div>
                <div class="flex flex-col items-center gap-4 p-8 border rounded-lg shadow-lg border-opacity-10">
                    <img src="/img/wise.svg" alt="">
                    <h2 class="flex justify-center gap-4 text-2xl font-bold text-center">
                        Transfer to Bank Account
                    </h2>
                    <div>
                        <div>
                            <strong>Account Holder:
                            </strong>
                            <span data-decode="R2F2aW4gSHVtYmVydCBQZXJlaXJh" data-copy></span>
                        </div>
                        <div>
                            <strong>Account Number:
                            </strong>
                            <span data-decode="Nzc3NzAxMDMwMTg2MzI=" data-copy></span>
                        </div>
                        <div>
                            <strong>Bank Name:
                            </strong>
                            <span data-decode="RmVkZXJhbCBCYW5r" data-copy></span>
                        </div>
                        <div>
                            <strong>IFSC Code:
                            </strong>
                            <span data-decode="RkRSTDAwMDc3Nzc=" data-copy></span>
                        </div>
                        <div>
                            <strong>SWIFT Code:
                            </strong>
                            <span data-decode="RkRSTElOQkJJQkQ=" data-copy></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script>
            const copyToClipboard = (text) => {
                const textarea = document.createElement("textarea");
                textarea.value = text;
                textarea.setAttribute("readonly", "");
                textarea.style.position = "absolute";
                textarea.style.left = "-9999px";
                document.body.appendChild(textarea);
                textarea.select();
                document.execCommand("copy");
                document.body.removeChild(textarea);
                console.log(text)
            };
            const elementsToDecode = document.querySelectorAll("[data-decode]");
            const elementsToCopy = document.querySelectorAll("[data-copy]");
            elementsToDecode.forEach((element) => (element.innerText = atob(element.dataset.decode)));
            elementsToCopy.forEach((element) => element.addEventListener("click", () => copyToClipboard(element.innerText)));
        </script>
    </body>
</html>